.filter {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
}

.filterItem {
  height: var(--button-height);
  border: 2px solid #feb832;
  border-radius: var(--button-border-radius);
  background-color: white;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  font-size: var(--font-size-button);
}

.filterItem:hover {
  cursor: pointer;
  background-color: #ffca76;
  color: white;
}

.activeFilter {
  font-size: var(--font-size-button);
  height: var(--button-height);
  border: 2px solid #feb832;
  border-radius: var(--button-border-radius);
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  background-color: #feb832;
  color: white;
}