/* geometry */

.phoneNumbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.phoneNumbers div {
  margin-right: 30px;
  margin-bottom: 50px;
}

/* fonts */

.phoneNumbers > div > p:first-child {
  font-weight: var(--font-weight-p);
}

.phoneNumbers p {
  font-size: var(--font-size-p-medium);
}

/* media */

@media screen and (max-width: 600px) {
  .phoneNumbers > div > p:first-child {
    font-weight: var(--font-weight-p-m);
  }
  
  .phoneNumbers p {
    font-size: var(--font-size-p-medium-m);
  }

  .phoneNumbers div {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .phoneNumbers div:last-child {
    margin-right: 30px;
    margin-bottom: 10px;
  }
}