.slider {
  overflow: hidden;
  width: 100%;
}

.sliderImg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  transition: all 0.5s;
}

.sliderImagePrev {
  transform: translateX(-100%);
}

.sliderImageNext {
  transform: translateX(100%);
}

.bannerBckg {
  overflow: hidden;
  width: 100%;
}
