/* geometry */

.contactsEmail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.contactsEmail>div {
  margin-bottom: 30px;
  margin-right: 50px;
}

/* colors */

.contactsEmail a {
  color: #2e1aaf;
}

/* fonts */

.contactsEmail>div>p {
  font-size: var(--font-size-p-medium);
}

.contactsEmail>div>p:first-child {
  font-weight: var(--font-weight-p);
}

.contactsEmail a {
  text-decoration: none;
}

/* media */

@media screen and (max-width: 1000px) {
  .contactsEmail {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .contactsEmail {
    margin-bottom: 0px;
  }

  .contactsEmail>div>p {
    font-size: var(--font-size-p-medium-m);
  }
}