.contacts h2 {
  margin-top: 50px;
  padding-bottom: 20px;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight);
}

.contacts h3 {
  margin-top: 30px;
  margin-bottom: 50px;
}

.contacts > p {
  font-size: var(--font-size-p-medium);
}

.contacts > p:last-child {
  margin-bottom: 50px;
}
