/* Geometry */

.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  visibility: hidden;
  transition: 0.5s;
}

.popup.active {
  visibility: visible;
}

.popupContent {
  padding: 30px;
  border-radius: 25px;
  width: 35vw;
  z-index: 2;
  transform: scale(0);
  transition: 0.5s all;
}

.popupContent.active {
  transform: scale(1);
}

.popup button {
  width: 100%;
  height: var(--button-height);
  border-radius: var(--button-border-radius);
  margin-bottom: 30px;
}

.popupButton {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.buttonP {
  width: 100%;
}

.popupButton > form {
  width: 100%;
}

/* Colors */

.popup {
  background-color: rgba(0, 0, 0, 0.4);
}

.popupContent {
  background-color: white;
}

.popup button {
  background-color: #6986fc;
  color: white;
}

.popup button:hover {
  background-color: #2e53bc;
}

/* Fonts */

.popup button {
  font-size: var(--font-size-button);
}

/* Media */

@media screen and (max-width: 1200px) {
  .popupContent {
    width: 40vw;
  }
}

@media screen and (max-width: 1000px) {
  .popupContent {
    width: 50vw;
  }
}

@media screen and (max-width: 800px) {
  .popupContent {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  .popup button {
    margin-bottom: 15px;
  }

  .popup button {
    font-size: var(--font-size-button-m);
  }
}

@media screen and (max-width: 450px) {
  .popupContent {
    width: 85vw;
  }
}