.location {
  position: relative;
}

.location h3 {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: var(--font-size-h3);
}

.location p {
  font-size: var(--font-size-p-medium);
}

.location p:last-child {
  padding-bottom: 150px;
}