/* geometry */

.statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.text-col1,
.text-col2 {
  width: 50%;
}

.faDollarSign {
  width: 18px;
  margin-left: 4px;
  margin-right: 8px;
}

.faPercent {
  margin-right: 3px;
}

.faHeadset,
.faGlobe {
  margin-right: 5px;
}

/* fonts */

.statistics span {
  font-weight: var(--font-weight);
}

/* colors */

.statistics span {
  color: #2e1aaf;
}

.faDollarSign {
color: #18b485;
}

.faPercent {
  color: #ff4d37;
}

.faHeadset {
  color: #faa819;
}

.faGlobe {
  color: #2e1aaf;
}
