/* Geometry */

.subscribeForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 460px;
}

.subscribeForm>div:last-child{
  margin: auto;
}

.subscribe h2 {
  padding: 50px 0px 30px 0px;
}

.emailSub {
  padding-left: 10px;
  width: 460px;
  height: var(--button-height);
  border: var(--form-border);
  border-radius: var(--button-border-radius);
}

.buttonSub {
  margin-top: 30px;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-border-radius);
  margin-bottom: 50px;
}

.popupSub {
  padding: 30px 30px 50px 30px;
}

.subError {
  margin-top: 5px;
}

/* Colors */

.buttonSub {
  background-color: #2e1aaf;
  color: white;
}

.buttonSub:hover {
  background-color: #2e53bc;
}

.buttonSub {
  background-color: #2e1aaf;
  color: white;
}

.subError {
  color: #ff4d37;
}

/* Fonts */

.subscribe h2 {
  text-align: center;
  font-size: var(--font-size-h2);
}

.buttonSub {
  font-size: var(--font-size-button);
}

.popupSub {
  font-size: var(--font-size-h3);
  text-align: center;
}

.subError {
  font-size: var(--font-size-p-small);
}

/* Media */

@media screen and (max-width: 600px) {

  .subscribeForm {
    width: 100%;
  }

  .emailSub {
    padding-left: 10px;
    width: 100%;
  }

  .buttonSub {
    width: 100%;
    margin-bottom: 30px;
    font-size: var(--font-size-button-m);
  }

  .subscribeForm>div:last-child{
    margin: 0px;
  }

  .subscribe h2 {
    padding: 30px 0px 30px 0px;
    font-size: var(--font-size-h2-m);
  }
  
  .popupSub {
    padding: 5px 0px 30px 0px;
    font-size: var(--font-size-h3-m);
  }
  
  .subError {
    font-size: var(--font-size-p-small-m);
  }
}