.buttonItem {
  position: absolute;
  bottom: 0;
  right: 0;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-border-radius);

  background-color: #2e1aaf;
  color: white;

  font-size: var(--font-size-button);
}

.buttonItem:hover {
  background-color: #2e53bc;
}

@media screen and (max-width: 700px) {

  .buttonItem {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .buttonItem {
    font-size: var(--font-size-button-m);
  }
}
