.buttonItem {
  align-items: flex-end;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-border-radius);

  background-color: #6986fc;
  color: white;

  font-size: var(--font-size-button);
}

.buttonItem:hover {
  background-color: #2e53bc;
}

@media screen and (max-width: 900px) {


}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 600px) {
  .buttonItem {
    font-size: var(--font-size-button-m);
    width: 100%;
  }
}
