/* Geometry */
#header ul {
  display: flex;
  align-items: center;
}

#header li {
  list-style-type: none;
}

#header a {
  text-decoration: none;
}

.logo {
  margin: 10px 30px 10px 0px;
  width: 50px;
  height: 45px;
}

.c-geometry {
  margin: 0px 30px 0px auto;
}

.s-geometry {
  justify-content: flex-end;
}

.fa-user {
  margin-left: 5px;
}


/* Colors */

.faUser {
  color: white;
}

#header {
  background-color: #2E1AAF;
}

/* Fonts */

.contact,
.signUp,
.courses{
  font-size: var(--font-size-p-medium);
  text-decoration: none;
  color: white;
}

.contact.active,
.signUp.active,
.courses.active {
  font-weight: 600;
  color:white;
}

.faUser {
  font-size: 20px;
}

/* Hover */

.contact:hover,
.signUp:hover,
.courses:hover {
  color: #adb9e2;
}

.contact.active:hover,
.signUp.active:hover,
.courses.active:hover {
  font-weight: 600;
  color: #adb9e2;
}
