.coursesContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media screen and (max-width: 1000px) {

  .coursesContent {
    flex-direction: column;
    justify-content: space-between;
  }
}
