/* geometry */

.reviewItem {
  margin-bottom: 30px;
  border-radius: 25px;
  padding: 30px;
}

.reviewItem h3 {
  margin-bottom: 15px;
}

/* fonts */

.reviewItem h3 {
  font-size: var(--font-size-h3);
}

.reviewSchoolName {
  font-weight: var(--font-weight);
}

.reviewItem p {
  font-size: var(--font-size-p-medium);
  text-align: justify;
}

.faStar {
  font-size: var(--font-size-p-small);
}

/* colors */

.reviewItem {
  background-color: white;
}

/* media */

@media screen and (max-width: 600px) {
  .reviewItem h3 {
    margin-bottom: 10px;
    font-size: var(--font-size-h3-m);
  }

  .reviewItem p {
    font-size: var(--font-size-p-medium-m);
  }

  .reviewItem {
    margin-bottom: 15px;
  }
}
