.schoolsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px 50px -10px;
}

@media screen and (max-width: 600px) {
  .schoolsList {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 900px) {

  .schoolsList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}