.sort {
  position: relative;
}

.sortLabel {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.sortBy {
  font-weight: var(--font-weight-p);
  padding-right: 5px;
}

.sortActiveLabel {
  font-weight: var(--font-weight-p);
  color: #2e1aaf;
  cursor: pointer;
}

.sort span {
  font-size: var(--font-size-p-medium);
}

.sortPopup {
  overflow: hidden;
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  border-radius: 25px;
  padding: 10px 0;
  width: 200px;
}

.sortPopup ul {
  overflow: hidden;
}

.sortPopup li {
  font-size: var(--font-size-p-medium);
  padding: 12px 20px;
  cursor: pointer;
}

.sortPopup li.active {
  font-weight: var(--font-weight-p);
  color: #2e1aaf;
}

.sortPopup li:hover {
  color: #2e1aaf;
  cursor: pointer;
  font-weight: var(--font-weight-p);
}

.faAngleDown {
  cursor: pointer;
  margin-left: 10px;
  font-size: var(--font-size-p-medium);
}

.faAngleDownRotated {
  cursor: pointer;
  margin-left: 10px;
  font-size: var(--font-size-p-medium);
  transform: rotate(180deg);
}
