/* geometry */

.sort {
  position: relative;
  z-index: 1;
}

.sortLabel {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.sortBy {
  padding-right: 5px;
}

.sortPopup {
  overflow: hidden;
  position: absolute;
  right: 0;
  margin-top: 15px;
  border-radius: 25px;
  padding: 10px 0;
  width: 200px;
}

.sortPopup ul {
  overflow: hidden;
}

.sortPopup li {
  padding: 12px 20px;
  cursor: pointer;
}

.faAngleDown {
  cursor: pointer;
  margin-left: 10px;
}

.faAngleDownRotated {
  cursor: pointer;
  margin-left: 10px;
  transform: rotate(180deg);
}

/* colors */

.sortActiveLabel {
  color: #2e1aaf;
  cursor: pointer;
}

.sortPopup {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background: #ffffff;
}

.sortPopup li.active {
  color: #2e1aaf;
}

.sortPopup li:hover {
  color: #2e1aaf;
  cursor: pointer;
}

/* fonts */

.sortBy,
.sortActiveLabel,
.sortPopup li.active,
.sortPopup li:hover {
  font-weight: var(--font-weight-p);
}

.sort span,
.sortPopup li,
.faAngleDown,
.faAngleDownRotated {
  font-size: var(--font-size-p-medium);
}

/* media */

@media screen and (max-width: 600px) {
  .sort span,
  .sortPopup li,
  .faAngleDown,
  .faAngleDownRotated {
    font-size: var(--font-size-p-medium-m);
  }
}
