/* geometry */

.schoolsItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  border-radius: var(--button-border-radius);
  margin: 0px 10px 30px 10px;
  width: 330px;
}

.price {
  padding: 50px 0px 80px 0px;
}

/* colors */

.schoolsItem {
  background-color: white;
}

/* fonts */

.schoolsItem h3 {
  text-align: center;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight);
}

.schoolsItem p {
  text-align: center;
  font-size: var(--font-size-p-big);
}

/* media */

@media screen and (max-width: 1350px) {
  .schoolsItem {
    width: 430px;
  }
}

@media screen and (max-width: 1100px) {
  .schoolsItem {
    width: 360px;
  }
}

@media screen and (max-width: 950px) {
  .schoolsItem {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .schoolsItem h3 {
    font-size: var(--font-size-h3-m);
  }
  
  .itemLang {
    font-weight: var(--font-weight-p-m);
  }
  
  .schoolsItem p {
    font-size: var(--font-size-p-big-m);
  }

  .price {
    padding: 30px 0px 30px 0px;
  }

  .schoolsItem form{
    width: 100%;
  }
}
