.signUpContent{
  position: relative;
  padding-bottom: 200px;
}

.signUpContent>h2{
  text-align: center;
  padding: 50px 0px 5px 0px;
  font-size: var(--font-size-h2);
}

.loginInput {
  width: 100%;
  padding-left: 10px;
  height: var(--button-height);
  border: var(--form-border);
  border-radius: var(--button-border-radius);
}

.signUpForms {
  width: 460px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.signUpForms label {
  font-size: var(--font-size-p-big);
  margin-bottom: 15px;
  margin-top: 15px;
}

.buttonSignUp {
  display: flex;
  justify-content: center;
}

.buttonLogin {
  margin-top: 40px;
  font-size: var(--font-size-button);
  width: 460px;
  height: var(--button-height);
  border-radius: var(--button-border-radius);
  background-color: #2e1aaf;
  color: white;
  margin-bottom: 40px;
}

.buttonLogin:hover {
  background-color: #2e53bc;
}

.error {
  margin-top: 5px;
  font-size: var(--font-size-p-small);
  color: #ff4d37;
}

.signIn {
  text-align: center;
  font-size: var(--font-size-p-medium);
}

.signUpContent span {
  color: #2e1aaf;
  font-weight: var(--font-weight-p);
}

.signUpContent span:hover {
  cursor: pointer;
  color: #2e53bc;
  font-weight: var(--font-weight-p);
}

.signUpIllLeft {
  position: absolute;
  left: 0px;
  top: 14%;
  width: 25%;
  z-index: -1;
}

.signUpIllRight {
  position: absolute;
  top: 5%;
  right: 0;
  width: 33%;
  z-index: -1;
}

.popupSignUp>h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}