/* geometry */

.signUpContent{
  position: relative;
  padding-bottom: 200px;
}

.signUpContent>h2{
  padding: 50px 0px 5px 0px;
}

.loginInput {
  width: 100%;
  padding-left: 10px;
  height: var(--button-height);
  border: var(--form-border);
  border-radius: var(--button-border-radius);
}

.signUpForms {
  width: 460px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.signUpForms label {
  margin-bottom: 15px;
  margin-top: 15px;
}

.buttonSignUp {
  display: flex;
  justify-content: center;
}

.buttonLogin {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 460px;
  height: var(--button-height);
  border-radius: var(--button-border-radius);
}

.error {
  margin-top: 5px;
}

.signUpIllLeft {
  position: absolute;
  left: 0px;
  top: 14%;
  width: 25%;
  z-index: -1;
}

.signUpIllRight {
  position: absolute;
  top: 5%;
  right: 0;
  width: 33%;
  z-index: -1;
}

.popupSignUp>h2 {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* colors */

.buttonLogin {
  background-color: #2e1aaf;
  color: white;
}

.buttonLogin:hover {
  background-color: #2e53bc;
}

.error {
  color: #ff4d37;
}

.signUpContent span {
  color: #2e1aaf;
}

.signUpContent span:hover {
  cursor: pointer;
  color: #2e53bc;
}


/* fonts */

.signUpContent>h2{
  text-align: center;
  font-size: var(--font-size-h2);
}

.signUpForms label {
  font-size: var(--font-size-p-big);
}

.buttonLogin {
  font-size: var(--font-size-button);
}

.error {
  font-size: var(--font-size-p-small);
}

.signIn {
  text-align: center;
  font-size: var(--font-size-p-medium);
}

.signUpContent span {
  font-weight: var(--font-weight-p);
}

.signUpContent span:hover {
  font-weight: var(--font-weight-p);
}

/* media */

@media screen and (max-width: 1200px) {
  .signUpContent{
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 600px) {

  .signUpForms {
    width: 100%;
    margin: 0px;
  }

  .signUpContent{
    padding-bottom: 50px;
  }

  .signUpContent>h2{
    padding: 30px 0px 0px 0px;
    font-size: var(--font-size-h2-m);
  }
  
  .signUpForms label {
    font-size: var(--font-size-p-big-m);
  }
  
  .buttonLogin {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: var(--font-size-button-m);
  }
  
  .error {
    font-size: var(--font-size-p-small-m);
  }
  
  .signIn {
    font-size: var(--font-size-p-medium-m);
  }

}